
.box{
    padding-left: 15px;
}

.box2{
    padding-left: 15px;
}

.box3{
    padding-left: 15px;
}

.box4{
    padding-left: 15px;
}

.box5{
    padding-left: 15px;
}

.box6{
    padding-left: 15px;
}