.market{
    color: rgb(250, 222, 184);
}
.navs{
    position: fixed;
}
.img{
    margin-top: 6px;
    margin-left: 10px;
}
*{
    margin: 0;
    padding: 0;
}
.nav2{
    display: flex;
    box-shadow: 0.5px 0.5px  1px rgb(219, 219, 219);
    background-color: white;
    height: 35px;
}

.im{
    padding-left: 60px;
    margin-top: 10px;
}
.ig{
    margin-top: 5px;

}
.wood{
    margin-top: 5px;
    font-size: larger;
    font-weight: bolder;
    margin-left: 2px;
}
.acr{
    margin-top: 12px;
    font-size: xx-small;
    margin-left: 250px;
}
a{
    text-decoration: none;
    padding-right: 15px;
}
.buywood{
    margin-top: 8px;
    height: 55%;
    font-weight: bold;
    font-size: 40%;
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}
.buywood:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    transition-delay: 0.4s;
    cursor: pointer;

}
.buy{
    padding-top: 4px;
    padding-left: 3px;
}
.p1{
    color: rgb(216, 173, 111);
}
.para{
    margin-top: 80px;
    margin-left: 15px;
    font-size: xx-large;
    font-weight:bold;
}
.compatible{
    color: grey;
    font-size: smaller;
}
.and{
    color: grey;
    font-size: smaller;
    margin-left: 3px;
}
.ele{
    font-weight: bold;
    font-size: smaller;
    margin-left: 3px;
}
.eleimg{
   padding-left: 5px;
   padding-right: 2px;
}
.woo{
    font-weight: bold;
    font-size: smaller;
    margin-left: 4px;
}
.wooimg{
    padding-left: 5px;
    padding-right: 2px;
}
.subflex{
    /* display: flex; */
}
.more{
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 15px;
}
.more:hover{
    box-shadow: 0.5px 0.5px 3px 0.5px grey;
    cursor: pointer;
}
.mix{
    margin-left: 30px;
    margin-top: 20px;
}
.video{
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 5px;
    height: 200px;
    width: 320px;
}
#all{
    display: flex;
    padding-top: 16px;
    padding-left: 20px;
}
.all{
    display: flex;
    padding-top: 8px;
    padding-left: 20px;
}
.no1{
    color: rgb(216, 173, 111);
    font-size: xx-small;
    margin-top: 3px;
    justify-content: center;
    display: flex;
}
.sub1{
    margin-top: 3px;
    font-size:80%;
    font-weight:600;
    display: flex;
    justify-content: center;
}

.no2{
    color: rgb(216, 173, 111);
    font-size: xx-small;
    margin-top: 3px;
    justify-content: center;
    display: flex;
}
.sub2{
    margin-top: 3px;
    font-size:80%;
    font-weight:600;
    justify-content: center;
    display: flex;
}
/* .icon2{
    margin-left: 10px;
} */
.no3{
    color: rgb(216, 173, 111);
    font-size: xx-small;
    margin-top: 3px;
    justify-content: center;
    display: flex;
}
.sub3{
    margin-top: 3px;
    font-size:80%;
    font-weight:600;
    justify-content: center;
    display: flex;
}
.img3{
    margin-left: 15px;
}
/* .icon3{
    margin-left: 50px;
} */
.no4{
    color: rgb(216, 173, 111);
    font-size: xx-small;
    margin-top: 3px;
    justify-content: center;
    display: flex;
}
.sub4{
    margin-top: 3px;
    font-size:80%;
    font-weight:600;
    justify-content: center;
    display: flex;
}
.img4{
    margin-left: 10px;
}
/* .icon4{
    margin-left: 10px;
} */
.no5{
    color: rgb(216, 173, 111);
    font-size: xx-small;
    margin-top: 3px;
    justify-content: center;
    display: flex;
}
.img5{
    margin-left: 27px;
}
.sub5{
    margin-top: 3px;
    font-size:80%;
    font-weight:600;
    justify-content: center;
    display: flex;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.Websites{
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 50px;
    /* margin-left: 50px; */
}
.eit{
    color: rgb(216, 173, 111);
}
.save{
    font-size: x-small;
    color: grey;
    margin-top: 60px;
}
.part3{
    display: flex;
    justify-content: space-around;
}
.grid{
    display:grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
}
.box1{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 30px;
    height: 150px;  
}
.box1:hover{
    transform: scale(1.02);
}
.box2{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 7px;
    height: 150px;    
}
.box2:hover{
    transform: scale(1.02);
}
.box3{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 7px; 
    height: 150px;   
}
.box3:hover{
    transform: scale(1.02);
}
.box4{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 7px; 
    height: 150px;   
}
.box4:hover{
    transform: scale(1.02);
}
.box5{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 30px;  
    height: 150px;  
}
.box6{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 7px;
    height: 150px;    
}
.box7{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 7px;
    height: 150px;    
}
.box8{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 7px;  
    height: 150px;
}
.box9{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 30px; 
    height: 150px;     
}
.box10{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 7px;  
    height: 150px;    
}
.box11{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 7px;  
    height: 150px;    
}
.box12{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 7px;  
    height: 150px;    
}
.box13{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 30px; 
    height: 150px;     
}
.box14{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 7px;  
    height: 150px;    
}
.box15{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 7px;  
    height: 150px;    
}
.box16{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 7px; 
    height: 150px;     
}
.box17{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 7px;
    height: 150px;    
}
.box18{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 7px; 
    height: 150px;     
}
.box19{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 7px; 
    height: 150px;     
}
.box20{
    box-shadow: 0.4px 0.5px 3px 0.7px rgb(219, 219, 219);
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 7px;
    margin-bottom: 7px;
    height: 150px;      
}
.whole{
    font-size: x-large;
    font-weight: bold;
    padding-top: 50px;
    text-align: center;
}
.color{
    color: rgb(216, 173, 111);
}
.red{
    font-weight: bold;
}
.red-sub{
    font-size: x-small;
    color: grey;
}
.red1{
    background-color: rgb(247, 247, 247);
    height: 250px;
    width: 220px;
    text-align: center;
    padding-top: 10px;
    border-radius: 6px;
    /* margin-left: 20px; */
}
.big1{
    display: flex;
    background-color: rgb(247, 247, 247);
    width: 480px;
    height: 260px;
    border-radius: 6px;
}
.big{
    font-weight: bold;
    font-size: larger;
}
.big-sub{
    font-size: x-small;
    color: grey;
}
.content{
    padding-top: 90px;
    
}
.both{
    border-radius: 6px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}
.six{
    font-size: 150px;
    color: rgb(216, 173, 111);
    position: absolute;
    z-index: -1;
    left: 45%;
    opacity:0.55;
}
.wsix{
    margin-top: 50px;
    position: relative;
}
.reasons{
    font-weight: bold;
    font-size: x-large;
}
.get{
    font-size: x-small;
    color: grey;
}
.wtext{
    text-align: center;
    margin-top: 170px;
}
.fade{
    font-size: 70px;
    font-weight: bold;
    color: grey;
    opacity: 0.1;
    left: 10%;
    position: absolute;
    z-index: -1;
    margin-top: 8px;
}
.wfade{
    margin-top: 55px;
}
.after1 p{
    font-size: x-small;
    color: grey;
    
}
.after1{
    margin-bottom: 30px;
}
.after1 h5{
    font-weight: bold;
    font-size:15px;
    color: black;
    line-height: 2.2;
}
.after2 p{
    font-size: x-small;
    color: grey;
    
}
.after2 h5{
    font-weight: bold;
    font-size:15px;
    color: black;
    line-height: 2.2;
}
.after3 p{
    font-size: x-small;
    color: grey;
    
}
.after3 h5{
    font-weight: bold;
    font-size:15px;
    color: black;
    line-height: 2.2;
}
.after4 p{
    font-size: x-small;
    color: grey;
    
}
.after4 h5{
    font-weight: bold;
    font-size:15px;
    color: black;
    line-height: 2.2;
}
.after5 p{
    font-size: x-small;
    color: grey;
    
}
.after5 h5{
    font-weight: bold;
    font-size:15px;
    color: black;
    line-height: 2.2;
}
.after6 p{
    font-size: x-small;
    color: grey;
    
}
.after6 h5{
    font-weight: bold;
    font-size:15px;
    color: black;
    line-height: 2.2;
}
.boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 50px;
}
.background{
    width: 755px;
    border-radius: 300px 300px 0px 0px;
    height: 320px;
    background-color: rgb(246, 245, 245);
    position: absolute;
    margin-top: 50px;
}
.w{
    font-size: 200px;
    font-weight: bold;
    background: #C3C9CF;
    background: linear-gradient(to bottom, #DEDEDE  0%,#FCFCFC 100%);

-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    position: relative;
    /* left: 30%;
    top:-80px; */

}
.mart{
    color: rgb(216, 173, 111);
    margin-left: 5px;
}
.last{
    display:flex ;
    margin-left: 12px;
}
.two{
    position: relative;
    top: -300px;
    left: 220px;
    
}
.pay{
    color: grey;
    font-size: smaller;
    margin-left: 70px;
    line-height: 2.5;
}
.button{
    border-style: none;
    border-radius: 15px;
    color: white;
    background-color: rgb(216, 173, 111);
    font-size: 8px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 110px;
    margin-top: 10px;
}
.creator{
    font-size: xx-small;
    color: grey;
    margin-left: 95px;
    margin-top: 40px;
}